<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container mx-auto">
    <h1 class="text-2xl font-semibold mt-10"><%= pageTitle || "All Products" %></h1>
    <div class="grid grid-cols-4 gap-6 mt-5">
        <% products.map(product => { %>
            <div class="border rounded p-4 shadow hover:shadow-lg">
                <a href="/products/<%= product.id %>">
                    <div class="aspect-[4/3] overflow:hidden p-3">
                        <img src="<%= product.image %>" alt="Mens Casual Slim Fit" class="h-full w-full object-contain">
                    </div>
                    <h2 class="truncate font-semibold"><%= product.title %></h2>
                    <p class="text-blue-700 font-bold">$<%= product.price %></p>          
                </a>
                <a href="/category/<%= product.category %>" class="text-sm text-gray-600 mb-2 inline-block hover:underline">
                    Category: <%= product.category %>
                </a>
                <button class="bg-blue-600 hover:bg-blue-700 transition duration-300 text-white px-3 py-2 rounded w-full">Add to Cart</button>
            </div>
        <% }); %>
    </div>
</div>

<%- include("partials/footer") %>
